{% extends 'web/layout.html' %}

{% load static %}

{% block title %}Eudaimonia Trails | Frequently Asked Questions{% endblock %}

{% block body %}

<!-- CONVERT NAVBAR TO LIGHT FROM BEGINNING
    ================================================== -->
    <script>
        var nav = document.getElementById("originalNavbar");
        nav.classList.remove("navbar-togglable");  // Remove toggleable class
        nav.classList.remove("navbar-dark");  // Remove dark class
        nav.classList.add("navbar-light");  // Add light class
    </script>

<!-- BREADCRUMB
    ================================================== -->
    <nav class="breadcrumb">
        <div class="container">
          <div class="row align-items-center">
            <div class="col">
              
              <!-- Heading -->
              <h5 class="breadcrumb-heading">
                Help center
              </h5>
  
            </div>
            <div class="col-auto">
  
              <!-- Breadcrumb -->
              <span class="breadcrumb-item">
                <a href="\">Home</a>
              </span>
              <span class="breadcrumb-item active">
                Help center
              </span>
            
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </nav>
      
      <!-- FAQ
      ================================================== -->
      <section class="section pb-0">
  
        <!-- Content -->
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              
              <!-- Title -->
              <h6 class="title">
                Help center
              </h6>
  
            </div>
            <div class="col-md-10">
  
              <!-- Heading -->
              <h3 class="mb-4">
                Need help? Browse our <span class="text-primary">FAQs</span>
              </h3>
  
              <!-- Subheading -->
              <p class="text-muted mb-5">
                We have curated a list of Frequently Asked Questions for your benefit. Kindly go through the list of questions asked and answers to the same.
              </p>
  
              <!-- FAQ -->
              <div class="faq">
              
                <!-- Item -->
                <div class="faq-item">
                  
                  <!-- Heading -->
                  <a href="#faq-item-content-1" class="faq-item-heading" data-toggle="collapse" aria-controls="faq-item-content-1" aria-expanded="false" role="button">
                    How can Eudaimonia Trails help to start a full fledged Online Travel Business?
                  </a>
  
                  <!-- Content -->
                  <div class="faq-item-content collapse" id="faq-item-content-1">
                    <div class="faq-item-content-inner">
                      <p class="mb-0">
                        Eudaimonia Trails offers a suite of customizable travel solutions designed to meet various needs. From trip planning applications to travel marketplace platforms, we provide versatile options to implement diverse travel solutions. Look no further if you want to start an online travel business.
                      </p>
                    </div>
                  </div>
  
                </div>
  
                <!-- Item -->
                <div class="faq-item">
                  
                  <!-- Heading -->
                  <a href="#faq-item-content-2" class="faq-item-heading" data-toggle="collapse" aria-controls="faq-item-content-2" aria-expanded="false" role="button">
                    What kind of travel solutions does Eudaimonia Trails specialize in?
                  </a>
  
                  <!-- Content -->
                  <div class="faq-item-content collapse" id="faq-item-content-2">
                    <div class="faq-item-content-inner">
                      <p class="mb-0">
                        Eudaimonia Trails specializes in a range of travel solutions, including destination discovery, online travel booking, travel marketplace, and innovative technologies to enhance the overall travel experience.
                      </p>
                    </div>
                  </div>
  
                </div>
  
                <!-- Item -->
                <div class="faq-item">
                  
                  <!-- Heading -->
                  <a href="#faq-item-content-3" class="faq-item-heading" data-toggle="collapse" aria-controls="faq-item-content-3" aria-expanded="false" role="button">
                    Can Eudaimonia Trails help in starting a travel business with minimal investment?
                  </a>
  
                  <!-- Content -->
                  <div class="faq-item-content collapse" id="faq-item-content-3">
                    <div class="faq-item-content-inner">
                      <p class="mb-0">
                        Absolutely! Our solutions are designed to be scalable and cost-effective, enabling entrepreneurs to start a travel business with minimal initial investment. We focus on providing value without compromising quality.
                      </p>
                    </div>
                  </div>
  
                </div>
  
                <!-- Item -->
                <div class="faq-item">
                  
                  <!-- Heading -->
                  <a href="#faq-item-content-4" class="faq-item-heading" data-toggle="collapse" aria-controls="faq-item-content-4" aria-expanded="false" role="button">
                    How customizable are Eudaimonia Trails' travel solutions?
                  </a>
  
                  <!-- Content -->
                  <div class="faq-item-content collapse" id="faq-item-content-4">
                    <div class="faq-item-content-inner">
                      <p class="mb-0">
                        Our travel solutions are highly customizable to suit your specific business requirements. Whether you need a unique travel app or a personalized travel marketplace, we work closely with you to tailor our offerings.
                      </p>
                    </div>
                  </div>
  
                </div>
  
                <!-- Item -->
                <div class="faq-item">
                  
                  <!-- Heading -->
                  <a href="#faq-item-content-5" class="faq-item-heading" data-toggle="collapse" aria-controls="faq-item-content-5" aria-expanded="false" role="button">
                    What technologies does Eudaimonia Trails leverage in its travel solutions?
                  </a>
  
                  <!-- Content -->
                  <div class="faq-item-content collapse" id="faq-item-content-5">
                    <div class="faq-item-content-inner">
                      <p class="mb-0">
                        Eudaimonia Trails incorporates cutting-edge technologies such as AI, data analytics, and user-friendly interfaces in its travel solutions. This ensures a seamless and modern experience for both businesses and end-users.
                      </p>
                    </div>
                  </div>
  
                </div>
  
                <!-- Item -->
                <div class="faq-item">
                  
                  <!-- Heading -->
                  <a href="#faq-item-content-6" class="faq-item-heading" data-toggle="collapse" aria-controls="faq-item-content-6" aria-expanded="false" role="button">
                    Is technical expertise required to implement Eudaimonia Trails' travel solutions?
                  </a>
  
                  <!-- Content -->
                  <div class="faq-item-content collapse" id="faq-item-content-6">
                    <div class="faq-item-content-inner">
                      <p class="mb-0">
                        While technical expertise is beneficial, our solutions are designed to be user-friendly, allowing individuals with minimal technical knowledge to implement and manage them effectively. We also offer support and training services.
                      </p>
                    </div>
                  </div>
  
                </div>

                <!-- Item -->
                <div class="faq-item">
                  
                    <!-- Heading -->
                    <a href="#faq-item-content-7" class="faq-item-heading" data-toggle="collapse" aria-controls="faq-item-content-6" aria-expanded="false" role="button">
                        How does Eudaimonia Trails support entrepreneurs in the travel industry?
                    </a>
    
                    <!-- Content -->
                    <div class="faq-item-content collapse" id="faq-item-content-7">
                      <div class="faq-item-content-inner">
                        <p class="mb-0">
                            Eudaimonia Trails provides end to end online travel applications, however we can provide comprehensive support to entrepreneurs, including consultation, training, and ongoing assistance. Our goal is to empower individuals to succeed in the travel business.
                        </p>
                      </div>
                    </div>
    
                  </div>

                  <!-- Item -->
                <div class="faq-item">
                  
                    <!-- Heading -->
                    <a href="#faq-item-content-8" class="faq-item-heading" data-toggle="collapse" aria-controls="faq-item-content-6" aria-expanded="false" role="button">
                        Are there ongoing costs associated with Eudaimonia Trails' solutions?
                    </a>
    
                    <!-- Content -->
                    <div class="faq-item-content collapse" id="faq-item-content-8">
                      <div class="faq-item-content-inner">
                        <p class="mb-0">
                            We aim to keep ongoing costs reasonable. While certain services may have associated fees, we work to provide transparent pricing structures and help you optimize costs as your travel business grows.
                        </p>
                      </div>
                    </div>
    
                  </div>

                  <!-- Item -->
                <div class="faq-item">
                  
                    <!-- Heading -->
                    <a href="#faq-item-content-9" class="faq-item-heading" data-toggle="collapse" aria-controls="faq-item-content-6" aria-expanded="false" role="button">
                        How do I get started with Eudaimonia Trails' travel solutions?
                    </a>
    
                    <!-- Content -->
                    <div class="faq-item-content collapse" id="faq-item-content-9">
                      <div class="faq-item-content-inner">
                        <p class="mb-0">
                            Getting started is easy! Simply reach out to us through our contact page, and our team will guide you through the process, understanding your requirements and proposing the best solutions for your travel business.
                        </p>
                      </div>
                    </div>
    
                  </div>
  
                <!-- Item -->
                <div class="faq-item">
                  
                  <!-- Heading -->
                  <a href="#faq-item-content-10" class="faq-item-heading" data-toggle="collapse" aria-controls="faq-item-content-7" aria-expanded="false" role="button">
                    Can Eudaimonia Trails' solutions integrate with existing travel platforms?
                  </a>
  
                  <!-- Content -->
                  <div class="faq-item-content collapse" id="faq-item-content-10">
                    <div class="faq-item-content-inner">
                      <p class="mb-0">
                        Yes, our solutions are built with flexibility in mind and can be seamlessly integrated with existing travel platforms. This allows businesses to enhance their services without disrupting their current operations.
                      </p>
                    </div>
                  </div>
  
                </div>
  
              </div>
  
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
  
      </section>
  
      <!-- LINKS
      ================================================== -->
      <section class="section">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              
              <!-- Title -->
              <h6 class="title">
                Additional resources
              </h6>
  
            </div>
            <div class="col-md-10">
              
              <!-- Heading -->
              <h3 class="mb-4">
                Still confused?
              </h3>
  
              <!-- Subheading -->
              <p class="text-muted mb-5">
                We understand that starting your own business can be confusing and overwhelming. In case you have any specific questions, us below sections to contact us or our community.
              </p>
  
              <!-- Items -->
              <div class="row">
                <div class="col-md-6">
                  
                  <!-- Card -->
                  <a href="{% url 'contact' %}" class="card mb-3 mb-md-0">
                    
                    <!-- Body -->
                    <div class="card-body">
  
                      <!-- Icon -->
                      <div class="card-icon text-primary">
                        <span class="icon icon-at"></span>
                      </div>
                      
                      <!-- Title -->
                      <h5 class="card-title">
                        Contact support
                      </h5>
  
                      <!-- Text -->
                      <p class="card-text text-muted">
                        Use the contact form to let us know your queries. Our team will do the best to resolve your queries.
                      </p>
                    
                    </div>
  
                  </a> <!-- / .card -->
  
                </div>
                <div class="col-md-6">
                  
                  <!-- Card -->
                  <a href="https://reddit.com" class="card" target="_blank">
                    
                    <!-- Body -->
                    <div class="card-body">
  
                      <!-- Icon -->
                      <div class="card-icon text-primary">
                        <span class="icon icon-edit"></span>
                      </div>
                      
                      <!-- Title -->
                      <h5 class="card-title">
                        Ask the forum
                      </h5>
  
                      <!-- Text -->
                      <p class="card-text text-muted">
                        Our community consists of many people who like you, wanted to build their own travel business.
                      </p>
                    
                    </div>
  
                  </a> <!-- / .card -->
  
                </div>
              </div> <!-- / .row -->
  
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </section>

{% endblock %}