{% extends 'web/layout.html' %}

{% load static %}

{% block title %}Eudaimonia Trails | Welcome to Building Better Experiences{% endblock %}

{% block body %}

    <!-- HERO
    ================================================== -->
    <section class="section section-top section-full">

        <!-- Cover -->
        <div class="bg-cover" style="background-image: url(static/images/42.jpg);"></div>
  
        <!-- Overlay -->
        <div class="bg-overlay"></div>
  
        <!-- Triangles -->
        <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left"></div>
        <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"></div>
  
        <!-- Content -->
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-8 col-lg-7">
  
              <!-- Preheading -->
              <p class="font-weight-medium text-center text-white text-muted" data-toggle="animation" data-animation="fadeUp" data-animation-order="0" data-animation-trigger="load">
                Transforming Customer Experiences with
              </p>
              
              <!-- Heading -->
              <h1 class="text-white text-center mb-4" data-toggle="animation" data-animation="fadeUp" data-animation-order="1" data-animation-trigger="load">
                Innovative Travel Technology Solutions
              </h1>
  
              <!-- Subheading -->
              <p class="lead text-white text-muted text-center mb-5" data-toggle="animation" data-animation="fadeUp" data-animation-order="2" data-animation-trigger="load">
                Eudaimonia Trails is dedicated to enhancing your travel experiences through cutting-edge research and development of travel technology products.
              </p>
  
              <!-- Button -->
              <p class="text-center mb-0" data-toggle="animation" data-animation="fadeUp" data-animation-order="3" data-animation-trigger="load">
                <a href="" target="_blank" class="btn btn-outline-primary text-white">
                  Contact us
                </a>
              </p>
  
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
  
      </section>
  
      <!-- SECTIONS
      ================================================== -->
      <!-- PAGES
      ================================================== -->
      <section class="section" id="pages">
  
        <!-- Content -->
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
  
              <!-- Heading -->
              <h2 class="text-center mb-4">
                Our Mission
              </h2>
  
              <!-- Subheading -->
              <p class="text-muted text-center mb-5">
                Harnessing the power of research, development, and cutting-edge technology, we're committed to curating travel experiences that go beyond the ordinary. Every trail we design is backed by meticulous research to ensure that you not only visit places but immerse yourself in the essence of each destination.
              </p>
  
            </div>
          </div> <!-- / .row -->
          <div class="row">
            <div class="col-md-4">
          
              <!-- Item -->
              <a href="app.html" class="card border-0 mb-3 mb-md-0">
            
                <!-- Image -->
                <div class="card-img-top">
                  <img src="{% static 'images/45.jpg' %}" alt="Improve Travel Experiences" class="img-fluid">
                </div>
  
                <!-- Body -->
                <div class="card-body">
              
                  <!-- Title -->
                  <h4 class="card-title">
                    Improve Travel Experiences
                  </h4>
  
                  <!-- Body -->
                  <p class="card-text text-muted">
                    Provide excellent experience in every aspect to travelers.
                  </p>
  
                </div>
  
              </a> <!-- / .card -->
  
            </div>
            <div class="col-md-4">
          
              <!-- Item -->
              <a href="company.html" class="card border-0 mb-3 mb-md-0">
            
                <!-- Image -->
                <div class="card-img-top">
                  <img src="{% static 'images/90-1.png' %}" alt="Build Innovative Travel Products" class="img-fluid">
                </div>
  
                <!-- Body -->
                <div class="card-body">
              
                  <!-- Title -->
                  <h4 class="card-title">
                    Build Innovative Travel Products
                  </h4>
  
                  <!-- Body -->
                  <p class="card-text text-muted">
                    You can use this page to promote your company.
                  </p>
  
                </div>
  
              </a> <!-- / .card -->
  
            </div>
            <div class="col-md-4">
          
              <!-- Item -->
              <a href="fullpage.html" class="card border-0 mb-3 mb-md-0">
            
                <!-- Image -->
                <div class="card-img-top">
                  <img src="{% static 'images/57-1.png' %}" alt="Support Travel Businesses" class="img-fluid">
                </div>
  
                <!-- Body -->
                <div class="card-body">
              
                  <!-- Title -->
                  <h4 class="card-title">
                    Support Travel Businesses
                  </h4>
  
                  <!-- Text -->
                  <p class="card-text text-muted">
                    Help fellow travel-business owners to operate profitably.
                  </p>
  
                </div>
  
              </a> <!-- / .card -->
  
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
  
      </section>
  
      <!-- HEADERS
      ================================================== -->
      <section class="section bg-light">
  
        <!-- Line -->
        <div class="line line-top"></div>
  
        <!-- Triangles -->
        <div class="bg-triangle bg-triangle-dark bg-triangle-top bg-triangle-left"></div>
        <div class="bg-triangle bg-triangle-dark bg-triangle-bottom bg-triangle-right"></div>
  
        <!-- Content -->
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
  
              <!-- Heading -->
              <h2 class="text-center mb-4">
                Our Vision
              </h2>
  
              <!-- Subheading -->
              <p class="text-muted text-center mb-5">
                <strong>Eudaimonia:</strong> A Greek term representing the state of flourishing and living a fulfilling life. This concept is at the core of everything we do. We strive to provide offerings that lead to moments of joy, discovery, and personal growth.
              </p>
  
            </div>
          </div> <!-- / .row -->
          <div class="row">
            <div class="col-md-4">
          
              <!-- Item -->
              <a href="index-header-carousel.html" class="card border-0 mb-3 mb-md-0">
            
                <!-- Image -->
                <div class="card-img-top">
                  <img src="{% static 'images/51.jpg' %}" alt="One Stop Shop" class="img-fluid">
                </div>
  
                <!-- Body -->
                <div class="card-body">
              
                  <!-- Title -->
                  <h4 class="card-title">
                    One Stop Shop
                  </h4>
  
                  <!-- Body -->
                  <p class="card-text text-muted">
                    Our Vision is to become a One Stop Shop for travelers and travel business owners alike. We will provide every Travel related product, service and offering under a single roof.
                  </p>
  
                </div>
  
              </a> <!-- / .card -->
  
            </div>
            <div class="col-md-4">
          
              <!-- Item -->
              <a href="index-header-parallax.html" class="card border-0 mb-3">
            
                <!-- Image -->
                <div class="card-img-top">
                  <img src="{% static 'images/52.jpg' %}" alt="All Encompassing Solutions" class="img-fluid">
                </div>
  
                <!-- Body -->
                <div class="card-body">
              
                  <!-- Title -->
                  <h4 class="card-title">
                    All Encompassing Solutions
                  </h4>
  
                  <!-- Body -->
                  <p class="card-text text-muted">
                    We want people to experience all their requirements in a single System instead of using multiple systems. This will make travelling and conducting travel business much simpler.
                  </p>
  
                </div>
  
              </a> <!-- / .card -->
  
            </div>
            <div class="col-md-4">
          
              <!-- Item -->
              <a href="index-header-video.html" class="card border-0 mb-3 mb-md-0">
            
                <!-- Image -->
                <div class="card-img-top">
                  <img src="{% static 'images/53-1.png' %}" alt="Hasslefree Travel" class="img-fluid">
                </div>
  
                <!-- Body -->
                <div class="card-body">
              
                  <!-- Title -->
                  <h4 class="card-title">
                    Hasslefree Travel
                  </h4>
  
                  <!-- Body -->
                  <p class="card-text text-muted">
                    We wish and work towards making travel and travel business to be completely hasslefree. The systems and support are aimed towards a very smooth experience.
                  </p>
  
                </div>
  
              </a> <!-- / .card -->
  
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
  
      </section>
  
      <!-- QUOTE
      ================================================== -->
      <!-- <section class="section"> -->
  
        <!-- Content -->
        <!-- <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-9"> -->
          
              <!-- Quote -->
              <!-- <div class="quote">
                <blockquote class="quote-blockquote">
                  <p class="quote-blockquote-content">
                    This theme is a Swiss Army knife of Bootstrap themes. Built with components in mind, it can be easily adjusted to create layouts of any complexity within a few minutes.
                  </p>
                  <footer class="quote-blockquote-footer">
                    <span class="text-zigzag">
                      Yuri Gamin, Moscow
                    </span>
                  </footer>
                </blockquote>
              </div>  -->
              <!-- / .quote -->
          
            <!-- </div> -->
          <!-- </div>  -->
          <!-- / .row -->
        <!-- </div>  -->
        <!-- / .container -->
  
      <!-- </section> -->
  
      <!-- FEATURES
      ================================================== -->
      <section class="section bg-dark">
  
        <!-- Triangles -->
        <div class="bg-triangle bg-triangle-light bg-triangle-top bg-triangle-left"></div>
        <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"></div>
  
        <!-- Content -->
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
          
              <!-- Heading -->
              <h2 class="text-white text-center mb-4">
                What sets us apart
              </h2>
  
              <!-- Subheading -->
              <p class="text-white text-muted text-center mb-5">
                We dedicate ourself to researching the most basic requirements of every stakeholder involved. We question every assumption and challenge the status quo.
              </p>
  
            </div>
          </div> <!-- / .row -->
          <div class="row">
            <div class="col-md-4">
  
              <!-- Item -->
              <div class="text-center mb-5 mb-md-0">
            
                <!-- Icon -->
                <div class="text-primary mb-4">
                  <span class="icon-edit icon-2x"></span>
                </div>
  
                <!-- Heading -->
                <h4 class="text-white mb-3">
                  Personalization
                </h4>
  
                <!-- Content -->
                <p class="text-white text-muted mb-0">
                  We aim to provide tailored experiences based on your preferences and interests. Whether you are new or super experienced to travel, we have something for everyone.
                </p>
  
              </div>
  
            </div>
            <div class="col-md-4">
  
              <!-- Item -->
              <div class="text-center mb-5 mb-md-0">
            
                <!-- Icon -->
                <div class="text-primary mb-4">
                  <span class="icon-extend icon-2x"></span>
                </div>
  
                <!-- Heading -->
                <h4 class="text-white mb-3">
                  Innovation
                </h4>
  
                <!-- Content -->
                <p class="text-white text-muted mb-0">
                  We leverage the latest in technology to enhance your journey right from destination discovery to destination experience. Be it researching for a trip, or booking it online, we plan to improve every step involved.
                </p>
  
              </div>
  
            </div>
            <div class="col-md-4">
  
              <!-- Item -->
              <div class="text-center">
            
                <!-- Icon -->
                <div class="text-primary mb-4">
                  <span class="icon icon-diamond icon-2x"></span>
                </div>
  
                <!-- Heading -->
                <h4 class="text-white mb-3">
                  Sustainability
                </h4>
  
                <!-- Content -->
                <p class="text-white text-muted mb-0">
                  We are dedicated to responsible travel that leaves a positive impact, not just on environment, but also on the people who face challenges due to over-tourism.
                </p>
  
              </div>
  
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
  
      </section>
  
      <!-- CTA
      ================================================== -->
      <section class="section bg-light">
  
        <!-- Content -->
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-8">
          
              <!-- Heading -->
              <h3 class="mb-4">
                Contact us to start your travel business today
              </h3>
  
              <!-- Subheading -->
              <p class="text-muted mb-4 mb-md-0">
                We provide end to end travel business solutions for business owners. The travel solutions are built to conduct end to end travel business right from marketing, lead generation, booking operations and support. Contact us today to know more about it.
              </p>
  
            </div>
            <div class="col-md-auto">
          
                <!-- Button -->
                <a href="https://themes.getbootstrap.com/product/incline-landing-page-set/" target="_blank" class="btn btn-outline-primary">
                  Contact us
                </a>
  
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
  
      </section>

{% endblock %}